---
layout: page
title: SOUND
header: SOUND
group: navigation
---

{% include JB/setup %}
<div class="row">
    {% for post in site.categories['sound'] %}
    <div class="blog-container">
        <div class="col-sm-3 col-xs-12">
            <img src = "{{ post.img-sm }}" class="blog-img" />
        </div>
        <div class="col-sm-9 col-xs-12">
            <h1><a href="{{ post.url }}">{{ post.title }}</a></H1>
            <div class ="date">
                <span>{{ post.date | date: "%a, %b %d, %y" }}</span>
            </div>
            {{ post.blurb }}
        </div>
    </div>
    {% endfor %}
</div>